@use "../../styles/partials/mixin" as *;

.news {
    @include card;

    &__icon {
        height: 2rem;
        vertical-align: middle;

        @include tablet-and-desk{
            height: 2.5rem;
        }
    }
}
li {
    padding-bottom: .5rem;
}